@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #e2e2e2;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #2e2e2e;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

a:hover {
  color: teal;
}

ul {
  list-style: none;
}

.flyIn {
  width: 50%;
  padding: 2rem;
  border-radius: 16px;
  text-align: start;
  position: relative;
  margin: 0 auto;
  padding-top: 20vh;
}

.flyIn h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 9vw;
  text-transform: uppercase;
  margin-bottom: -0.5rem;
  color: #2e2e2e;
}

.flyIn p {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  color: #2e2e2e;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  color: #2e2e2e;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #2e2e2e;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  position: relative;
  left: 40px;
  margin-bottom: 4rem;
}

.container {
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  width: 90vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 16px;
  text-align: start;
  background-color: #f1f1f1;
}

@media screen and (max-width: 840px) {
  .column {
    width: 70vw;
    display: block;
    margin-bottom: 20px;
  }
  .container {
    margin-top: 85px;
  }
}

.darkmode--activated h1,
.darkmode--activated h2,
.darkmode--activated p {
  color: white;
}

.darkmode--activated .card {
  background-color: #0e0c0c;
}

input {
  padding: 10px;
  margin-top: 1rem;
  width: 50vw;
}

input[type="submit"] {
  width: 25vw;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #e2e2e2;
  background-color: teal;
  outline: none;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 16px;
  font-size: 2vw;
}

input[type="submit"]:hover {
  background-color: #014646;
  color: #e2e2e2;
}

.darkmode--activated input[type="submit"] {
  background-color: #2e2e2e;
  color: teal;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.darkmode--activated input:hover[type="submit"] {
  background-color: #222222;
  color: #8b3131;
}

i {
  padding: 20px;
  color: #2e2e2e;
}

i:hover {
  color: teal;
  cursor: pointer;
}

.darkmode--activated i {
  color: #e2e2e2;
}

.darkmode--activated li,
.darkmode--activated a,
.darkmode--activated p,
.darkmode--activated h2,
.darkmode--activated h1 {
  color: #8c8c8c;
}

.darkmode--activated i:hover,
.darkmode--activated a:hover {
  color: teal;
}

.darkmode-toggle {
  z-index: 1000;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: teal;
}

.s1 {
  background-size: cover;
}

.navContainer {
  width: 100%;
  height: 200px;
  position: fixed;
  margin-left: 2rem;
  z-index: 1001;
  top: 1rem;
}

.message {
  height: 150px;
  margin-bottom: 3rem;
}

.hover_img i {
  position: relative;
  border-radius: 16px;
}

.hover_img i span {
  position: absolute;
  display: none;
  z-index: 99;
}

.hover_img i:hover span {
  display: block;
}
/*# sourceMappingURL=style.css.map */